#photo {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    text-align: center;
    z-index: 10;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    background-color: #90c8be;
    margin: 0;
    font-family: comfortaa, serif;
    overflow: hidden;
    display: grid;
    grid-template-columns: 9.1% 14% 29.4% 25% 5% 17.5%;
    transition: background-color 3s ease;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

.island {
    margin: .3vw 5% .8vw 5%;
    width: 90%;
    padding: .2vw;
    background: #cccccc;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 3px #6B6B6B;
    height: min-content;
    transition: background-color 3s ease, box-shadow 3s;
    border: solid 1px grey;
}

.darkIsland {
    margin: .3vw 5% .8vw 5%;
    width: 90%;
    padding: .2vw;
    background: #383838;
    border-radius: 10px;
    box-shadow: 5px 5px 8px 2px #2a2a2a;
    height: min-content;
    transition: background-color 3s ease, box-shadow 3s;
    border: solid 1px #2c2c2c;
}

label {
    display: block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
}

.cell {
    margin: 0.25vw 0.25vw 0.25vw .5vw;
    text-align: center;
    width: 6vw;
    height: 3.9vh;
    border-style: solid;
    border-radius: 5px;
    font-size: 1.3vw;
    background-color: #ff5000;
    font-weight: bolder;
    padding-top: 1px;
}

.cell::after {
    content : url(./static/resistor.svg);
    display: block;
    transform: rotate(90deg) translate(-4.093vw, -5.733vh) scale(0.3);
    transition: opacity 1s ease;
    opacity: 100%;
}

.balancing::after {
    opacity: 0;
}


.darkIsland .balancing::after {
    color: grey;
}

.cell::before {
    position: relative;
    transform: translate(-5px, 0);
    content: "";
    display: block;
    height: 2vh;
    width: .5vh;
    border-style: solid;
    border-radius: 5px;
    padding-top: .32vw;
    margin-top: .5vh;
    margin-bottom: -2.5vh;
}

.statusBox {
    background-color: lightgrey;
    text-align: left;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 6px 2px #343434;
}

.darkIsland .statusBox {
    background-color: grey;
    box-shadow: 0 0 8px 2px #2a2a2a;
}