:root {
    --font-color: #424242;
    --font-muted-color: #a1a1a1;
    --bg-color: #d9d9d9;
}

[data-theme="dark"] {
    --font-color: #c7c7c7;
    --font-muted-color: #5e5e5e;
    --bg-color: #252525;
}

* {
    transition: color, background-color 2s ease;
}

@font-face {
    font-family: Metropolis;
    src: url(./static/Metropolis/Metropolis-Light.woff2);
    font-weight: 300;
}

@font-face {
    font-family: Metropolis;
    src: url(./static/Metropolis/Metropolis-Regular.woff2);
    font-weight: normal;
}

@font-face {
    font-family: Metropolis;
    src: url(./static/Metropolis/Metropolis-Bold.woff2);
    font-weight: bold;
}

@font-face {
    font-family: Metropolis;
    src: url(./static/Metropolis/Metropolis-ExtraBold.woff2);
    font-weight: 800;
}

@font-face {
    font-family: Universal-Sans;
    src: url(./static/Universal-Sans.ttf);
}

#photo {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    text-align: center;
    z-index: 10;
}

a:hover {
    text-decoration: underline;
}

label {
    display: block;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: .15vw;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.card {
    position: relative;
    width: 200px;
    height: 100%;
    background-color: #CECECEFF;
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 5px grey, inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.11), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0 0.05em rgba(255, 255, 255, 0.12);
}

[data-theme="dark"] .card {
    background-color: hsl(0, 0%, 9%);
    box-shadow: 2px 2px 9px 0 hsl(0deg 0% 9%)
}